@use "../variables"
@use "../mixins"   

.seletor-periodo
    margin-top: 10px
    
    select
        border: 0px solid #c4c9d0
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px
        padding: 5px

        &:focus
                box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,  0px 1px 3px -1px
                outline: none

.aviso-sem-dados
    margin-top: 30px
