@use "../variables"
@use "../mixins"    

.pag-cadastro
    @include mixins.paginas
    
    .form-cadastro
        margin: auto
        width: 100%


        .form-session-title
            margin-top: 2rem
            font-size: 1.1rem
            padding: 0.5rem
            text-transform: uppercase
            color: variables.$cor-destaque
            white-space: nowrap

        .linha-destaque
            width: 50%
            margin-left: 0
            border: 1px solid variables.$cor-destaque
            margin-top: -20px

        .form-group
            padding-right: 2rem

            label 
                span
                    font-size: 1.1rem
                    margin-left: 80px

        .group-infoAdicional   
            width: 100%
            margin-top: 10px
        
        input,option, select, textarea
            border: 1px solid #c4c9d0
            // border: 1px solid #c4c9d0
            //box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px
            

            &:focus
                box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, variables.$cor-destaque 0px 1px 3px -1px
                outline: none

    
        textarea
            width: 100%
            min-width: 20rem
            height: 200px


        .div-buttons
            display: flex
            margin-top: 20px
            width: 100%
            text-align: left

            button
                max-width: 150px
                
            .btn-cadastrar
                max-width: 150px
                text-align: center


        .custom-suggestions-container
            text-decoration: none
        
            ul
                list-style-type: none
                padding: 0
                
                li
                    padding: 5px
                    cursor: pointer
                    
                    &:hover
                        background: variables.$cor-destaque-hover
                        color: variables.$cor-fundo-branco





    


