@use '../variables'

.listagem-apoiadores
    width: 95%
    position: relative
    background-color: variables.$cor-fundo-branco

    table
        margin-top: 2rem
        width: 100% 
        min-width: 300px
        white-space: nowrap
        overflow-x: auto
        border-collapse: collapse
        text-align: left

        th
            padding: 5px
            background: #00000043
            height: 2.3rem
        
        tr
           height: 2rem

        tr:nth-child(even) 
            background-color: #f2f2f2

    .ativo
        background: variables.$cor-ativo
        padding: 3px 10px 3px 10px
        border-radius: 15px
        color: variables.$cor-fundo-branco

    .filtro-busca
        display: flex
        width: 50%
        margin: auto
        text-align: center
        padding: 5px
        margin-top: 50px

        div
            width: 100%

        input
            width: 70%
            padding: 5px
            border-radius: 3px
            height: 20px
            border: 1px solid #c4c9d0

            &:focus
                border: 1px solid #47464694
                outline: none

        button
            margin-left: 20px


       
