@use "../variables"
@use "../mixins"    

.apoiador-ficha
    @include mixins.paginas

    div
        border: 1px solid red
        padding: 1rem

        span
            display: block
        