@use '../variables'
@use '../mixins'

.interface-dashboard
    @include mixins.paginas
    font-family: variables.$font-poppins

    .area-cards
        display: inline-flex
        margin-top: 50px


    .card-dashboard
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px
        margin-right: 4em
        padding: 1em
        background-color: variables.$fundo-card-cinza
       
        span
            font-weight: 300
            padding: 10px


        .card-text
            font-size: 13pt
            font-weight: 300
            margin-top: 15px
            width: 100%
            display: block
            color: black

    .resumos
        display: inline-flex
        width: 100%
        margin-top: 3em
        padding: 20px

        .cards
            width: 40%
            margin: auto

        .card
            box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px
            display: inline-flex
            padding: 10px
            width: 80%
            margin: auto
            align-items: center
            flex-direction: row

            .icone
                svg
                    font-size: 40pt
                
            .texto
                margin-left: 10px

                h4
                    text-transform: uppercase
                    margin: 0

                p
                    margin: 0

    .demandas 
        color: variables.$card-vermelho
        border-left: 6px solid variables.$card-vermelho
    
    .apoiadores 
        color: variables.$card-azul
        border-left: 6px solid variables.$card-azul

    .incompletos
        color: variables.$card-amarelo

    .aniversariantes
        color: variables.$card-amarelo
        border-left: 6px solid variables.$card-amarelo

        .titulo
            color: variables.$card-amarelo
    
    .cards-listas
        display: inline-flex
        width: 100%
        
    .eventos,.minhas-demandas
        margin: auto
        margin-top: 50px
        background-color: variables.$fundo-card-cinza
        width: 45%
        padding: 5px

        .titulo
            background: variables.$cor-destaque
            padding: 6px
            border-radius: 4px
            color: variables.$cor-fundo-branco
            text-align: center

      


    
