
@use '../variables'


.sidebar-menu
  height: 100%
  background-color: variables.$cor-fundo-branco
  margin-left: -8px
  margin-top: -5px
  top: 0px
  left: 0px
  box-shadow: rgba(0, 0, 0, 0.1) -4px 9px 25px -6px

  nav
    margin-top: 10px

  img
    display: block
    width: 100%
    max-width: 170px
    margin: auto
    margin-top: 25px

  hr
    margin-top: 30px

  .title-menu
    margin-left: 30px
    font-size: 10pt
    text-transform: uppercase


.ps-menuitem-root ul li
  &:hover
    background-color: red !important
    a
      color: red

.ps-submenu-content
  ul
    border-left: 5px solid variables.$cor-destaque

.ps-menu-button .ps-active
  color: variables.$cor-menu-ativo
    
  


