
@use '../variables'


.sidebar-menu
  height: 100%
  background: variables.$cor-fundo-branco
  margin-left: -8px
  margin-top: 32px
  top: 0px
  left: 0px
  box-shadow: rgba(0, 0, 0, 0.1) -4px 9px 25px -6px

  nav
    margin-top: 50px



.ps-menu-button .ps-active
  color: variables.$cor-menu-ativo
    
  


