
@use '../variables'
 
.user-front
    position: absolute
    display: inline-flex
    right: 20px
    color: black
    align-items: center
    font-weight: 300

    p
        margin: auto
        margin-left: 10px   
