@use 'variables'

html
    font-family: variables.$font-family

.main
    width: 100%
    height: 100%
    background-color: variables.$cor-fundo-branco
    border: 1px solid green

.content
    display: flex
    position: relative
    margin-left: 12.5rem
    margin-top: 3.5rem
   


@media (max-width: 768px)

    .content
        margin-left: 0.5rem
        margin-right: 0.5rem
    
