.content
    display: flex
    position: relative
    border: 1px solid red
    margin-left: 12.5rem
    margin-top: 3.5rem


@media (max-width: 768px)

    .content
        margin-left: 0.5rem
        margin-right: 0.5rem
    
