
$font-family: 'Roboto'
$side-nav-link-color: #5e5e5e
$cor-destaque: #ef5350
$cor-destaque-hover: #ed1411
$cor-fundo-branco: #ffffff
$cor-fundo-cinza: #e3e3e39b
$cor-ativo: #4CAF50
$cor-editar: #FFC107
$cor-desativado: #ffcdd2
$cor-pendente: #fff0c2
$cor-incompleto: #41403f4b